extends ../layout

block content
  .login-block
    if msg && msg.length > 0
      .row
        .alert.alert-error.login-alert
          button.close(type='button', data-dismiss='alert') x
          =msg


    .row
        form.form.login-form(action='/login', method='post')
          legend.login-legend #{ __('admin-login') }
          input.login-input(type='text', name='username', placeholder='#{ __('Username') }')
          input.login-input(type='password', name='password', placeholder='#{ __('Password') }')

          button.btn.btn-primary.btn-large(type='submit') #{ __('Login') }
          input(type='hidden', name='_csrf', value=token)
