extends ../layout

block content
  .tab-bar
    ul.nav.nav-tabs
      if currentUser.role === 'superAdmin'
        li
          a.border-link(href='/admin/shops') 
            | #{ __('list-shop') }
        li.active
          a.border-link(href='/admin/shop/info/#{ shop.id }') 
            | Shop's #{ __('Information') }
      else
        li.active
          a.border-link(href='/shop')
            | #{ __('your-shop') }
        li
          a.border-link(href='/shop/images')
            | #{ __('manage-images') }
          

  .content-container(class="#{ currentUser.role === 'superAdmin' ? 'content-border-left' : '' }")
    if typeof msg !== 'undefined'
      .row
        .alert.shop-create-alert(class='alert-#{ msg.type }')
          button.close(type='button', data-dismiss='alert') x
          for message in msg.messages
            p=message

    .shop-container.clearfix
      .shop-image.span3
        img.img-polaroid(src='/images/#{shop.avatar}')

      .span7.shop-info
        .row
          p.shop-legend #{ __('shop-info') }
          table.table.table-hover.table-bordered.table-striped
            tr
              td
                strong #{ __('shop-name') }:
              td
                | #{ shop.name }
            if currentUser.role === 'superAdmin'
              tr
                td
                  strong #{ __('shop-admin') }:
                td
                  | #{ shop.admin.username }
            if (shop.description)
              tr
                td
                  strong #{ __('shop-description') }:
                td
                  | #{ shop.description }
            if (shop.phoneNumber)
              tr
                td
                  strong #{ __('phone-number') }
                td
                  | #{ shop.phoneNumber }
            if (shop.address)
              tr
                td
                  strong #{ __('Address') }
                td
                  | #{ shop.address }
            tr
              td 
                strong #{ __('Wifi') }
              td
                | #{ shop.wifi ? 'Yes' : 'No' }
            if (shop.openingHours)
              tr
                td
                  strong #{ __('opening-hour') }
                td
                  | #{ shop.openingHours }
            tr
              td
                strong #{ __('payment-options') }
              td
                ul
                  for option in shop.paymentOpts
                    li=option
            tr
              td
                strong #{ __('Languages') }
              td
                ul
                  for lang in shop.languages
                    li=lang
            if (shop.nearStations && shop.nearStations.length > 0)
              tr
                td
                  strong #{ __('near-station') }
                td
                  ul
                    for station in shop.nearStations
                      li=station
            if (shop.customFields && shop.customFields.length > 0)
              for customField in shop.customFields
                tr
                  td
                    strong #{ customField.name }
                  td
                    | #{ customField.value }
            tr
              td
                strong #{ __('Location') }
              td
                if (shop.location.coords.length > 0) 
                  img(border='0', src="//maps.googleapis.com/maps/api/staticmap?center=#{ shop.location.coords[1] },#{ shop.location.coords[0] }&zoom=13&size=400x300&markers=color:blue|label:S|#{ shop.location.coords[1] },#{ shop.location.coords[0] }&sensor=false")
                else
                  img(border='0', src="//maps.googleapis.com/maps/api/staticmap?center=Tokyo&zoom=13&size=400x300&sensor=false", alt="Your shop location")

        .row
          .shop-operation
            if currentUser.role === 'superAdmin'
              a.btn.btn-info.edit(href='/admin/shop/edit/#{ shop.id }') #{ __('Edit') }
            else
              a.btn.btn-info.btn-large(href='/shop/edit') #{ __('Edit') }
            if currentUser.role === 'superAdmin'
              a#delete-shop.btn.btn-danger.delete(href='/admin/shop/delete/#{ shop.id }') #{ __('Delete') }
              input#confirm-delete(type='hidden', value="#{ __('confirm-shop-delete') }")
              input#cancel(type='hidden', value="#{ __('Cancel') }")
              input#continue(type='hidden', value="#{ __('Continue!') }")

