extends ../layout

block content
  .tab-bar
    ul.nav.nav-tabs
      if currentUser.role === 'superAdmin'
        li
          a.border-link(href='/admin/shops') 
            | #{ __('list-shop') }
        li.active
          a.border-link(href='/admin/shop/info/#{ shop.id }') 
            | Shop's #{ __('Information') }
      else
        li.active
          a.border-link(href='/shop')
            | #{ __('your-shop') }
          

  .content-container(class="#{ currentUser.role === 'superAdmin' ? 'content-border-left' : '' }")
    if typeof msg !== 'undefined'
      .row
        .alert.shop-create-alert(class='alert-#{ msg.type }')
          button.close(type='button', data-dismiss='alert') x
          for message in msg.messages
            p=message

    .shop-container.clearfix
      .shop-image.span4
        img.img-polaroid(src='/images/#{shop.avatar}')

      .span6.shop-info
        .row
          p.shop-legend #{ __('shop-info') }
          dl.dl-horizontal
            dt
              | #{ __('shop-name') }:
            dd
              | #{ shop.name }
            if currentUser.role === 'superAdmin'
              dt
                | #{ __('shop-admin') }:
              dd
                | #{ shop.admin.username }
            if (shop.description)
              dt
                | #{ __('shop-description') }:
              dd
                | #{ shop.description }
            if (shop.phoneNumber)
              dt
                | #{ __('phone-number') }
              dd
                | #{ shop.phoneNumber }
            if (shop.address)
              dt
                | #{ __('Address') }
              dd
                | #{ shop.address }
            if (shop.openingHours)
              dt
                | #{ __('opening-hour') }
              dd
                | #{ shop.openingHours }
            dt
              | #{ __('payment-options') }
            dd
              ul
                for option in shop.paymentOpts
                  li=option
            dt
              | #{ __('Languages') }
            dd
              ul
                for lang in shop.languages
                  li=lang
            if (shop.nearStations && shop.nearStations.length > 0)
              dt
                | #{ __('near-station') }
              dd
                ul
                  for station in shop.nearStations
                    li=station
            if (shop.customFields && shop.customFields.length > 0)
              for customField in shop.customFields
                dt
                  | #{ customField.name }
                dd
                  | #{ customField.value }

        .row
          .shop-operation
            if currentUser.role === 'superAdmin'
              a.btn.btn-info.offset1.span1(href='/admin/shop/edit/#{ shop.id }') #{ __('Edit') }
            else
              a.btn.btn-info.offset1.span1(href='/shop/edit') #{ __('Edit') }
            if currentUser.role === 'superAdmin'
              a#delete-shop.btn.btn-danger.span1(href='/admin/shop/delete/#{ shop.id }') #{ __('Delete') }
              input#confirm-delete(type='hidden', value="#{ __('confirm-shop-delete') }")
              input#cancel(type='hidden', value="#{ __('Cancel') }")
              input#continue(type='hidden', value="#{ __('Continue!') }")

